<aside>
	<div class="container">
		<nav>
			<ul>
				{% for page in site.pages %} {% if page.title %}
                {% unless page.nolink %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endunless %}
				{% endif %} 
                {% endfor %}
				<li><a href="http://topas4api.lightcon.com/current/index.html?utm_source=Topas4InfoPage&utm_medium=TopMenu">API</a></li>
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>

<header>
	<h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
</header>
 