$content-width: 960px;
$main: #ffffff;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: #0856d3;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #264c80;
$light: #E7EDF4;
$header:  #264c80;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 